<section class="contact-section">
  <h1>Kontakt</h1>
  <p class="intro">
    Sie haben Fragen zu unseren Leistungen oder möchten ein unverbindliches
    Angebot? <br />
    Kontaktieren Sie uns einfach telefonisch, per E-Mail oder über das Formular.
  </p>

  <div class="contact-grid">
    <!-- Linke Spalte: Info -->
    <div class="contact-info">
      <p class="color-primary"><b>Jan Rosenberger Montageservice</b></p>
      <p>
        Bellingser Str. 4<br />
        36381 Schlüchtern Hohenzell
      </p>
      <p class="low-margin" style="margin-bottom: 0.2rem">
        <a href="tel:+491753819919">
          <span class="color-secondary">&#9743;</span> +49 175 / 381 9919
        </a>
      </p>
      <p class="low-margin">
        <a href="mailto:jr.montage@web.de">
          <span class="color-secondary">&#9993;</span> jr.montage&#64;web.de
        </a>
      </p>
    </div>

    <!-- Rechte Spalte: Formular -->
    <div class="contact-form-wrapper">
      <p><b>Schreiben Sie uns direkt über das Formular:</b></p>

      <form
        [formGroup]="contactForm"
        (ngSubmit)="onSubmit()"
        class="contact-form"
      >
        <label for="name">Name *</label>
        <input id="name" type="text" formControlName="name" required />

        <label for="email">E-Mail *</label>
        <input id="email" type="email" formControlName="email" required />

        <label for="subject">Betreff</label>
        <input id="subject" type="text" formControlName="subject" />

        <label for="message">Nachricht *</label>
        <textarea
          id="message"
          rows="5"
          formControlName="message"
          required
        ></textarea>

        <label class="checkbox">
          <input type="checkbox" formControlName="privacy" required />
          Ich stimme der Verarbeitung meiner Daten laut
          <a href="#" (click)="openPrivacyDialog($event)"
            >Datenschutzerklärung</a
          >
          zu *
        </label>

        <button type="submit" [disabled]="contactForm.invalid">Absenden</button>
      </form>
    </div>

    <!-- Eigene Spalte: Karte -->
    <div class="map-wrapper">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2547.3807590555675!2d9.534457512014377!3d50.322147196475164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a32af8fe7763e5%3A0x8f5b8ad5e819abb4!2sBellingser%20Str.%204%2C%2036381%20Schl%C3%BCchtern!5e0!3m2!1sde!2sde!4v1756843925151!5m2!1sde!2sde"
        width="100%"
        height="300"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</section>
