<div>
  <mat-toolbar color="primary">
        <img src="assets/jr-montage-logo.svg" style="max-width: 80px;" alt="JR Montage Logo" class="header-logo">

        <span style="flex: 1 1 auto; text-align: center;">
    <button mat-button routerLink="/">Startseite</button>
    <button mat-button routerLink="/leistungen">Leistungen</button>
    <button mat-button routerLink="/kontakt">Kontakt</button>
    <button mat-button routerLink="/impressum">Impressum</button>
    </span>
  </mat-toolbar>
</div>