  <section>
    <h1>Impressum</h1>

    <p><strong>Verantwortlich für den Inhalt:</strong></p>
    <address>
      <b>Jan Rosenberger Montageservice</b><br />
      Bellingser Str. 4<br />
      36381 Schlüchtern Hohenzell<br />
      Deutschland<br />
      Telefon: <a href="tel:+491753819919">+49 175 3819919</a><br />
      E-Mail: <a href="mailto:JR.montage&#64;web.de">JR.montage&#64;web.de</a>
    </address>

    <h2>Vertreten durch</h2>
    <p class="smal-padding-top">Herr Jan Rosenberger</p>

    <h2>Umsatzsteuer-ID</h2>
    <p class="smal-padding-top">01986160747</p>

    <h2>Registergericht</h2>
    <p class="smal-padding-top">Amtsgericht (folgt in kürze)</p>

    <h2>Haftungshinweis</h2>
    <p class="smal-padding-top">
      Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für
      die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind
      ausschließlich deren Betreiber verantwortlich.
    </p>
  </section>
