<main>
  <section>
    <h1>Impressum</h1>

    <p><strong>Verantwortlich für den Inhalt:</strong></p>
    <address>
      <b>Jan Rosenberger Montageservice</b><br />
      Musterstraße 1 (TODO muss geändert werden)<br />
      12345 Musterstadt (TODO muss geändert werden)<br />
      Deutschland<br />
      Telefon: <a href="tel:+491753819919">+49 175 3819919</a><br />
      E-Mail: <a href="mailto:JR.montage&#64;web.de">JR.montage&#64;web.de</a>
    </address>

    <h2>Vertreten durch</h2>
    <p>Herr Jan Rosenberger</p>

    <h2>Umsatzsteuer-ID</h2>
    <p>DE123456789 (TODO muss geändert werden)</p>

    <h2>Registergericht</h2>
    <p>Amtsgericht Musterstadt, HRB 123456 (TODO muss geändert werden)</p>

    <h2>Haftungshinweis</h2>
    <p>
      Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für
      die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind
      ausschließlich deren Betreiber verantwortlich.
    </p>
  </section>
</main>
