<footer class="footer">
  <div class="footer-grid">
    <!-- Logo + Kontakt -->
    <div>
      <h3>Kontakt</h3>
      <p>Jan Rosenberger</p>
      <p>Bellingser Str. 4<br>
        36381 Schlüchtern Hohenzell</p>
      <p class="low-margin" style="margin-bottom: .2rem;"><a href="tel:+49123456789"><span class="color-light">&#9743;</span> +49 175 / 381 9919</a></p>
      <p class="low-margin"><a href="mailto:jr.montage@web.de"><span class="color-light">&#9993;</span> jr.montage&#64;web.de</a></p>
    </div>

    <!-- Navigation -->
    <div>
      <h3>Navigation</h3>
      <ul>
        <li><a routerLink="/">Startseite</a></li>
        <li><a routerLink="/leistungen">Leistungen</a></li>
        <li><a routerLink="/kontakt">Kontakt</a></li>
      </ul>
    </div>

    <!-- Rechtliches -->
    <div>
      <h3>Rechtliches</h3>
      <ul>
        <li><a routerLink="/impressum">Impressum</a></li>
        <li><a routerLink="/datenschutz">Datenschutz</a></li>
      </ul>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="footer-bottom">
    <p>&copy; {{ currentYear }} Montageservice Rosenberger – Alle Rechte vorbehalten</p>
  </div>
</footer>
